<div class = "container mt-5">
<p>Name : <%= @flats.name %></p>
<p>Address : <%= @flats.address %></p>
<p>Price / night : <%= @flats.price_per_night %></p>
<p>Guests : <%= @flats.number_of_guests %></p>
<button class = "btn btn-danger"><%= link_to "Flats Lists", flats_path %></button>
