<div class = "container mt-5">
<p>Name : <%= @flat.name %></p>
<p>Address : <%= @flat.address %></p>
<p>Price / night : <%= @flat.price_per_night %></p>
<p>Guests : <%= @flat.number_of_guests %></p>
<button class = "btn btn-danger"><%= link_to "Flats Lists", flats_path %></button>
